<% include ../partials/header %>

<% include ../partials/Shared/Navbar %>



<div class="container-fluid mt-5">
<% if(seminars.length > 0 && seminars) { %>

<!-- Search form -->


<table class="animated fadeIn table table-hover table-striped" id="myTable" cellspacing="0">
<thead> 
    <tr>
        <th onclick="sort()" scope="col"><a> Seminar <i class="fa fa-sort" aria-hidden="true"></i>  </a></th>
        <th scope="col"><a> Venue <i class="fa fa-sort" aria-hidden="true"></i>  </a></th> 
        <th scope="col"><a> Date <i class="fa fa-sort" aria-hidden="true"></i>  </a></th> 
        <th scope="col"><a> Time <i class="fa fa-sort" aria-hidden="true"></i>  </a></th> 
        <th scope="col"><a> Capacity <i class="fa fa-sort" aria-hidden="true"></i>  </a></th> 
    </tr>
    </thead> 
    <tbody> 
    <% seminars.forEach((seminar) => { %> 
        <tr class='clickable-row' data-href='/attendee/new/<%= seminar._id %>'>
           <td><a><%= seminar.name %></a></td>
            <td><a><%= seminar.venue %></a></td>
            <td><a><%= seminar.date %></a></td>
            <td><a><%= seminar.time %></a></td>
            <td><a><%= seminar.capacity %></a></td>
        </tr>
    <% }) %>
    </tbody> 
</table>

<% } else { %>
<p>There is no active seminar</p>
<% } %>

<a class="btn btn-primary" href="/seminar/new">Add</a>

</div>
<script src='/js/tablesort.js'></script>

<!-- Include sort types you need -->
<script src='/js/tablesort.number.js'></script>
<script src='/js/tablesort.date.js'></script>

<% include ../partials/JS/seminar-index %>
<% include ../partials/footer %>