<% include ../partials/header %>

<% include ../partials/Shared/Navbar %>



<div class="container-fluid mt-5">
<% if(seminars.length > 0 && seminars) { %>

<!-- Search form -->


<table class="animated fadeIn table table-hover table-striped" id="tbdb"cellspacing="0">
    <tr>
        <th scope="col"><a onclick="sortTable(0)"> Seminar <i class="fa fa-sort" aria-hidden="true"></i>  </a></th>
        <th scope="col"><a onclick="sortTable(1)"> Venue <i class="fa fa-sort" aria-hidden="true"></i>  </a></th> 
        <th scope="col"><a onclick="sortTable(2)"> Date <i class="fa fa-sort" aria-hidden="true"></i>  </a></th> 
        <th scope="col"><a onclick="sortTable(3)"> Time <i class="fa fa-sort" aria-hidden="true"></i>  </a></th> 
        <th scope="col"><a onclick="sortNumber()"> Capacity <i class="fa fa-sort" aria-hidden="true"></i>  </a></th> 
    </tr>
    <% seminars.forEach((seminar) => { %> 
        <tr class='clickable-row' data-href='/attendee/new/<%= seminar._id %>'>
           <td><a><%= seminar.name %></a></td>
            <td><a><%= seminar.venue %></a></td>
            <td><a><%= seminar.date %></a></td>
            <td><a><%= seminar.time %></a></td>
            <td><a><%= seminar.capacity %></a></td>
        </tr>
    <% }) %>
</table>

<% } else { %>
<p>There is no active seminar</p>
<% } %>

<a class="btn btn-primary" href="/seminar/new">Add</a>

</div>

<% include ../partials/JS/seminar-index %>
<% include ../partials/footer %>